<div class="container form">
    <form [formGroup]="blogdata" (ngSubmit)="bolgdetail(blogdata.value)" class="mt-5">
        <div class="form-outline mb-4">
            <input formControlName="blogerEmail" type="text" id="form6Example3" class="form-control border" />
            <label class="form-label" for="form6Example3">Enter Your email</label>
        </div>
        <div class="form-outline mb-4">
            <input formControlName="blogTitle" type="text" id="form6Example3" class="form-control border" />
            <label class="form-label" for="form6Example3">Enter Blog Title</label>
        </div>
        <div class="form-outline mb-4">
            <input formControlName="blogsummary" type="text" id="form6Example3" class="form-control border" />
            <label class="form-label" for="form6Example3">Enter Blog Summary</label>
        </div>
        <div class="form-outline mb-4">
            <textarea formControlName="blogDescription" class="form-control border" id="form6Example7" rows="4"></textarea>
            <label class="form-label" for="form6Example7">Enter Blog Description</label>
        </div>
        <div class="form-outline mb-4">
            <input formControlName="imageUrl" type="text" id="form6Example3" class="form-control border" />
            <label class="form-label" for="form6Example3">Enter Blog Image url</label>
        </div>
        <button type="submit" class="btn btn-block mb-3">Add Blog</button>
    </form>
</div>
