.form{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form{
    box-shadow: 2px 2px 16px teal;
    padding: 3rem;
    border-radius: 0.5rem;
}

button{
    background-color: white;
    border: 2px solid teal;
    color: teal;
    font-family: Roboto;
}
button:hover{
    background-color: teal;
    border: 2px solid teal;
    color: white;
    font-family: Roboto;
}